@import "global_styles/variables_and_mixins";

.twoLetterWords {
    width: 100%;
    max-width: 800px;
    margin-bottom: 5px;
    position: relative;

    button {
        display: block;
        margin: 0 auto;
        z-index: 3;
    }
    .zoomable {
        position: absolute;
        top: 40px;
        z-index: 2;
        width: 100%;
        max-height: 0px;
        background: $offWhite;
        border: none;
        transition-property: max-height;
        transition-duration: 0.2s;
        transition-delay: 0s;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        &.scrollable {
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &.active {
            border: 1px solid darken($grey, 30);
        }
    }
}