@import "global_styles/variables";

.twoLetterWords {
    width: 100%;
    margin-bottom: 5px;
    position: relative;

    button {
        display: block;
        margin: 0 auto;
        z-index: 3;
    }
}