@use "./variables_and_mixins" as *;

html, body, div, span, h1, h2, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $mainFont;
}

body {
    overflow-y: scroll;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    color: $darkGrey;
    text-align: center;
}

li {
    list-style: none;
}

p {
    color: $darkGrey;
    @include resetTapHighlight;
}

.App {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    background: $lightGrey;
}
