@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800");
@import "global_styles/variables";

html, body, div, span, h1, h2, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "nunito";
}

h2 {
    font-size: 2em;
    font-weight: 600;
    color: $darkText;
    text-align: center;
}

li {
    list-style: none;
}

p {
    color: $darkText;
}

.App {
    margin: 0 auto;
    max-width: 800px;
    font-family: "nunito";
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    background: $grey;
}

@media only screen and (max-height: 640px) {
    .game, .game-menu, .game-summary {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media only screen and (max-height: 530px) {
    .game .stats {
        overflow: visible;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media only screen and (min-width: 400px) {
    .stats {
        width: 400px;
    }
}