@import "global_styles/variables_and_mixins";

.timeLimit {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
    }
    .switch {
        color: $themeColor;
    }
    .switchTrack {
        background-color: darken($lightGrey, 30);
    }
    input {
        width: 85%;
        text-transform: none;
    }

    input[type="time"] {
        font-size: 2em;
        min-width: 200px;
        width: 100%;
        max-height: 0px;
        padding: 0 0 0 10px;
        overflow: hidden;
        border: none;
        transition-property: max-height;
        transition-duration: 0.5s;
        transition-delay: 0s;
        display: flex;
        justify-content: center;
        -webkit-appearance: none;
        &::-webkit-time-picker-indicator,
        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
        }
        &.active {
            max-height: 50px;
            border: 1px solid darken($lightGrey, 20);
        }
        &::-webkit-datetime-edit-hour-field:focus,
        &::-webkit-datetime-edit-minute-field:focus,
        &::-webkit-datetime-edit-second-field:focus {
            background: darken($lightGrey, 5);
            color: $themeColor;
        }
    }
}