@import "../../../../styles/variables.scss";

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid darken($grey, 30);
	background: $mainGreen;
	color: #fff;
	height: 35px;
	padding: 3px 20px;
	border-radius: 17.5px;
	box-shadow: 2px 2px 3px $boxShadow;
	text-shadow: 1px 1px $textShadow;
	font-weight: 700;
	font-size: 1.3em;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	font-family: "nunito";
	&:active {
		box-shadow: none;
		background: darken($mainGreen, 10);
	}
}