@import "global_styles/variables_and_mixins";

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: $mainGreen;
	color: #fff;
	padding: 1px 20px;
	border-radius: 17.5px;
	font-weight: 700;
	font-size: 1.3em;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	font-family: "nunito", sans-serif;
	@include reserTapHighlight;
	&:active {
		background: darken($mainGreen, 10);
		outline: none;
	}
	&[disabled] {
		background: $grey;
		cursor: no-drop;
	}
}