@import "global_styles/variables";

.audioController {
	height: 35px;
	min-width: 35px;
	margin-left: 5px;
	font-size: 30px;
	color: $darkText;
	display: inline-flex;
	align-items: center;
	&.on {
		color: $mainGreen;
	}
}