@import "global_styles/variables_and_mixins";

.audioController {
	height: 35px;
	min-width: 35px;
	margin-left: 5px;
	font-size: 30px;
	color: $darkGrey;
	display: inline-flex;
	align-items: center;
	&.on {
		color: $themeColor;
	}
}