@import "global_styles/variables";

.gamesHistory {
    .title {
        display: inline-flex;
        align-items: center;
        p {
            padding-right: 10px;
            cursor: pointer;
            &:hover {
                color: $mainGreen;
            }
        }
    }    
}