@use "global_styles/variables_and_mixins" as *;

.changeLanguage {
    display: flex;
    flex-direction: column;
    .languages,
    .currentLanguage,
    .language {
        display: inline-flex;
        align-items: center;
        align-self: center;
    }

    .currentLanguage {
        cursor: pointer;
        margin-top: 10px;
        @include resetTapHighlight;
    }

    .languages {
        max-height: 0px;
        margin-top: 10px;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        &.active {
            max-height: 53px;
        }
        .language {
            cursor: pointer;
            @include resetTapHighlight;
        }
    }

    p {
        margin: 0 0 0 5px;
    }

    img {
        width: 35px;
    }
}
