@import "global_styles/variables_and_mixins";

.addPlayer {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    p {
        text-align: center;
        margin: 0 0 5px 0;
    }
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        input {
            width: 90%;
        }
    }
    .add {
        padding: 5px 7px;
        margin-left: 3px;
        height: 30px;
        width: 30px;
        font-size: 1.3em;
        color: #fff;
    }
}
