@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800");
@import "variables";

html, body, div, span, h1, h2, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "nunito";
  overscroll-behavior: none;
}

.App {
  margin: 0 auto;
  max-width: 800px;
  font-family: "nunito";
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  background: $grey;

  h2 {
    font-size: 2em;
    font-weight: 600;
    color: $darkText;
    text-align: center;
  }

  li {
    list-style: none;
  }

  p {
    color: $darkText;
  }
}

@media only screen and (max-height: 640px) {
  .game, .game-menu, .game-summary {
    overflow: scroll;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (max-height: 530px) {
  .game .stats {
    overflow: visible;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (min-width: 400px) {
  .stats {
    width: 400px;
  }
}