@import 'variables';

.two-letter-words {
    width: 100%;
    position: relative;

    button {
        display: block;
        margin: 0 auto;
        z-index: 3;
    }
    
    .words {
        position: absolute;
        top: 40px;
        z-index: 2;
        width: 100%;
        border: 1px solid darken($grey, 30);
        background: $mainGreen;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        &.active {
            display: flex;
        }
    }
    
    img {
        width: 98%;
        margin: 1% 0;
    }
}