.word-checker {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px 5px;
    max-width: 320px;
    box-sizing: border-box;
    input {
        width: 100%;
        max-width: 500px;
    }
}

.resoult-img {
    width: 70px;
    height: 70px;
    margin: 10px auto 0 auto;
}

.thumb {
    width: 100%;
}