.word-checker {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    input {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }
}

.resoult-img {
    width: 70px;
    height: 70px;
    margin: 10px auto 0 auto;
}

.thumb {
    width: 100%;
}