.content {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    .topWrapper {
        display: flex;
        width: 100%;
    }
    input {
        margin-bottom: 10px;
        text-transform: none;
        width: 300px;
        max-width: 100%;
        &::-webkit-time-picker-indicator,
        &::-webkit-clear-button,
        &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
        }
    }
    .card {
        min-width: 300px;
        height: 120px;
        margin: 10px 0 20px 0;
        display: flex;
        justify-content: center;
    }
}