@import "global_styles/variables";

.gamesTable {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    transition: all .2s ease-out;
    &.showGames {
        max-height: 275px;
        padding: 3px 0;
    }
    
    table {
        border-collapse: collapse;
    }
    td, th {
        border: 1px solid $darkText;
        text-align: center;
    }
    .gameId {
        &:hover {
            color: $mainGreen;
            font-weight: 700;
            cursor: pointer;
        }
    }
}