@use "global_styles/variables_and_mixins";

.currentPlayer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;

    p {
        text-align: center;
    }

    span {
        font-weight: 900;
        font-size: 1.7em;
    }
}
