@import "global_styles/variables_and_mixins";

.playerSummary {
    margin: 10px 0;
    .card {
        .place {
            display: inline-flex;
            align-items: center;
            font-weight: 700;
            img {
                margin-left: 10px;
            }
        }
        .playerName {
            font-weight: 700;
            font-size: 1.2em;
            margin: 5px 0;
        }
    }
}