@import 'styles/variables';

.playerStats {
    width: 97%;
    padding: 0 10px;
    margin-bottom: 10px;
    background: darken($grey, 5);
    box-shadow: 1px 1px 2px $boxShadow;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.current {
        background: $offWhite;
        box-shadow: 2px 2px 5px $boxShadow;
    }

    .playerName {    
        width: 100%;
        font-size: 1.5em;
        font-weight: 700;
        display: flex;
        justify-content: center;
        color: $darkText;
        .userIcon {
            font-size: 20px;
            width: 25px;
            margin-right: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-size: 20px;
            }
        }
    }

    .wraper {
        width: 100%;
        margin: 3px 0 5px 0;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        button {
            height: 30px;
            padding: 3px 10px;
            font-size: 1.2em;
        }
    }
    
    .allPoints {
        width: 100%;
        margin-top: 3px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-in-out;
        p {
            margin-bottom: 5px;
            color: #000;
        }        
    }
}