@import "global_styles/variables";

.playerStats {
    width: 97%;
    padding: 3px 5px 5px 5px;
    margin-bottom: 10px;
    background: darken($grey, 5);
    box-shadow: 1px 1px 2px $boxShadow;
    overflow: unset;
    &.current {
        background: $offWhite;
        box-shadow: 2px 2px 5px $boxShadow;
    }

    .wrapper {
        display: flex;
        width: 100%;
        .profileImage {
            position: relative;
            width: 50px;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5em;
            color: $grey;
            img {
                max-width: 50px;
                max-height: 50px;
                border-radius: 50%;
            }
            .badge {
                position: absolute;
                right: 0;
                bottom: -3px;
                font-size: 20px;
                color: $darkText;
                span {
                    font-size: 20px;
                }
            }
        }

        .player {
            width: 100%;
            .playerName {
                font-size: 1.5em;
                font-weight: 700;
                color: $darkText;
            }

            .points {
                width: 100%;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                button {
                    height: 30px;
                    padding: 3px 10px;
                    font-size: 1.2em;
                }
            }
        }
    }

    .allPoints {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        p {
            margin-bottom: 5px;
            color: #000;
        }
    }
}