@import "global_styles/variables";

.accountInfo {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: end;
	align-items: flex-end;
}
.logout {
	font-size: 1.2em;
	font-weight: 700;
	cursor: pointer;
	&:hover {
		color: $mainGreen;
	}
}