@use "global_styles/variables_and_mixins" as *;

.accountInfo {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: end;
	align-items: flex-end;
}
.logout {
	font-size: 1.2em;
	font-weight: 700;
	cursor: pointer;
	&:hover {
		color: $themeColor;
	}
}
