@import "global_styles/variables";

.accountInfo {
	width: 100%;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logout {
	font-size: 1.2em;
	font-weight: 700;
	cursor: pointer;
	&:hover {
		color: $mainGreen;
	}
}