.stats {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow: hidden;
}

.stats p, .timer {
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 1.5em;
    font-weight: 400;
}

.stats .timer {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 900;
    color: #008f83;
    display: none;
}

.stats .show-timer {
    display: block;
}

.stats .short-time {
    color: #f00;
}

.stats span {
    font-weight: 900;
    font-size: 1.5em;
}

.stats .current-player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.stats .add-points {
    width: 80%;
    max-width: 300px;
    margin-top: 5px;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
}

.stats input {
    width: 200px;
}

.stats .confirm {
    margin-left: 3px;
}

.stats input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.stats .all-players {
    display: flex;
    flex-flow: column;
    overflow: scroll;
}

.stats .all-players::-webkit-scrollbar {
    display: none;
}

.stats .player-stats {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
    color: #5f5f5f;
    background: #ddd;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats .player-stats.current {
    background: #bbb;
}

.stats .player-stats .wraper {
    width: 100%;
    margin: 3px 0 5px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.stats .player-stats .player-name {    
    width: 100%;
    display: flex;
    justify-content: center;
}

.stats .player-stats button {
    height: 30px;
    padding: 3px 10px;
    font-size: 1.2em;
}

.stats .player-stats .all-points {
    width: 100%;
    margin-top: 10px;
    display: none;
}

.stats .player-stats .all-points.active {
    display: block;
}

.stats .player-stats .all-points p {
    margin-bottom: 5px;
}

.stats .player-stats .all-points li {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 2px;
    border-bottom: .5px solid #5f5f5f;
}

.stats .player-stats .all-points li div {
    margin: 0 10px 0 5px;
    width: 50%;
}

.stats .player-stats .all-points li .round {
    text-align: end;
}