@import 'styles/variables';

.stats {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    
    // p, .timer {
    //     text-align: center;
    //     width: 100%;
    //     margin: 10px 0 0 0;
    //     font-size: 1.5em;
    //     font-weight: 400;
    // }
    
    // .timer {
    //     font-size: 2.5em;
    //     line-height: 1em;
    //     font-weight: 900;
    //     color: darken($mainGreen, 10);
    // }
    
    // .shortTime {
    //     color: $red;
    // }
    
    // span {
    //     font-weight: 900;
    //     font-size: 1.5em;
    // }
    
    // .currentPlayer {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     align-items: center;
    //     margin-bottom: 25px;
    // }
    
    // .addPoints {
    //     max-width: 300px;
    //     margin-top: 5px;
    //     display: inline-flex;
    //     justify-content: center;
    //     justify-items: center;
    // }
    
    // input {
    //     width: 200px;
    //     &::-webkit-inner-spin-button {
    //         -webkit-appearance: none;
    //     }
    // }
    
    // .confirm {
    //     margin-left: 3px;
    // }
    
    
    
    
}
