@import "global_styles/variables";

.login {
    input {
        margin-bottom: 10px;
        width: 100%;
    }
    button {
        margin: 10px auto 15px auto;
    }

    p {
        text-align: center;
        font-size: 0.9em;
        span {
            color: $mainGreen;
            font-weight: 700;
            cursor: pointer;
            font-size: 1.1em;
        }
    }
}