@import "global_styles/variables_and_mixins";

.game {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;

    .topWrapper {
        display: inline-flex;
        padding: 5px 5px;
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;
    }

    .gameFinishButton {
        margin: 5px auto;
        padding: 3px 20px;
    }
}