@import "global_styles/variables";

.game {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;

    .topWrapper {
        display: inline-flex;
        padding: 5px 5px;
    }

    .gameFinishButton {
        margin: 5px auto 0 auto;
        padding: 3px 20px;
    }
}