.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 100;
    box-sizing: border-box;
    .wrapper {
        background-color: rgba(128, 128, 128, 0.5);
        width: 100%;
        max-width: 800px;
        height: 100%;
        padding: 5%;
        margin: 0 auto;
        box-sizing: border-box;
        .card {
            box-shadow: 0 0 10px #000;
            width: 100%;
            transition: height 0.2s linear;
            &.show {
                height: 100%;
            }
        }
    }
}