@import "global_styles/variables_and_mixins";

.gameMenu {
    height: 100%;
    padding-bottom: 5px;
    .topWrapper {
        display: flex;
        width: 100%;
        margin-bottom: 5px;
    }
    h1 {
        margin: 0;
    }

    .menu {
        width: 100%;
        max-width: 400px;
        padding: 0 5px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-flow: column;
        box-sizing: border-box;
    }

    .card {
        padding: 10px 5px;
        margin-bottom: 5px;
        overflow: unset;
        p {
            font-size: 1.2em;
            font-weight: 600;
        }
    }

    button[type="submit"] {
        margin: 5px auto;
    }
}
