.allPlayers {
    max-width: 400px;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}