.wordChecker {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    input {
        width: 100%;
    }

    .resoult-img {
        width: 70px;
        height: 70px;
        margin: 5px auto 0 auto;
        &.noAudio {
            padding-right: 50px;
        }
    }
    
    .thumb {
        width: 100%;
    }
}