@import "global_styles/variables_and_mixins";

.accountSettings {
    padding-bottom: 10px;
    .title {
        display: inline-flex;
        cursor: pointer;
        &:hover {
            color: $themeColor;
        }
    }
    .settings {
        padding: 0;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        transition: all .2s ease-out;
        &.showSettings {
            max-height: 120px;
            padding-left: 20px;
        }

        p {
            display: inline-flex;
            &:hover {
            color: $themeColor;
            cursor: pointer;
            }
        }
    }
}