@use "global_styles/variables_and_mixins" as *;

.profileImageForm {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    width: 400px;
    max-width: 100%;
    .input {
        display: none;
    }
    .selectPhotoButton {
        margin-bottom: 10px;
    }
}

.buttons {
    display: flex;
    justify-content: center;

    .cancelButton {
        background-color: $red;
        margin-right: 10px;
    }
}
