@import "global_styles/variables_and_mixins";

input {
    padding: 3px;
    height: 35px;
    border: 1px solid darken($grey, 20);
    background: lighten($grey, 3);
    box-shadow: inset 0 100px lighten($grey, 3);
    font-weight: 700;
    font-size: 1.5em;
    font-family: "nunito", sans-serif;
    color: $mainGreen;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    &::placeholder {
        opacity: 0.5;
        color: darken($grey, 40);
    }
    &:invalid {
        color: $red;
    }
    -moz-appearance: textfield;
}
input[type="time"]{
    line-height: 1em;
    padding-left: 20px;
  }